.container {
  display: flex;
  flex-direction: column;
  font-family: Fira Sans, Helvetica, Helvetica Neue;
}

.main {
  display: flex;
  height: calc(100vh - 32px);
  min-height: auto;
  width: 100%;
}

.mainContent {
  flex: 1 0 auto;
}
