@-webkit-keyframes fadein {
    to   { opacity: 1; }
}

.main {
  display: flex;
  height: 100vh;
  min-height: auto;
  width: 100%;
}

.preview {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.iframeContainer {
  flex: 1 0 calc(100vh - 50px);
  background: #232325;
  position: relative;
  text-align: center;
  overflow: auto;
  max-width: calc(100vw - 51px);
  padding: 10px;
}

.iframeContainer iframe {
  border: 1px solid #666;
  background: #fff;
  margin: 0 auto;
  transition: width .3s, height .3s;
  opacity: 0;
  animation: fadein 1s .5s;
  -webkit-animation-fill-mode: forwards;
}

.previewToolbar {
  flex: 0 0 50px;
  background: #18181a;
  border-bottom: 1px solid #2f2f31;
  color: #888;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.responsiveToggle, .responsiveRotate, .responsiveSelect {
  border: 0;
  background: #333;
  margin: 0 5px;
  padding: 7px 12px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: background .3s;
}

.responsiveRotate {
  font-size: .65em;
  height: 27px;
  padding: 3px 12px;
}

.responsiveRotate i {
  transform: rotateZ(0deg);
  transform-origin: 50% 50%;
  transition: transform .3s;
}

.responsiveRotateActive i {
  transform: rotateZ(90deg);
}

.responsiveToggle:hover, .responsiveRotate:hover, .responsiveSelect:hover {
  background: #744C9E;
}

.responsiveToggle:active, .responsiveRotate:active, .responsiveSelect:active {
  background: rgb(53, 99, 187);
}

.responsiveToggleActive {
  background: rgb(47, 134, 92);
}

.responsiveSelect {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

.responsiveSelect:disabled, .responsiveRotate:disabled {
  background: #333;
  color: #777;
}
