
.list {
  margin: 0;
  padding: 10px 0;
  position: relative;
}

.listEmpty {
  padding: 0 14px;
  color: #555;
  font-weight: 300;
  font-style: italic;
  font-size: .9em;
  text-align: center;
}

.section li {
  cursor: pointer;
  outline: none;
  position: relative;
}

.section li.active .item {
  box-shadow: inset 3px 0 0 0 #744C9E;
  background: #222;
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222;
  padding: 12px;
  border-left: 3px solid #744C9E;
}

.sectionHeader i {
  cursor: pointer;
  opacity: .5;
  transition: opacity .3s, color .3s;
}

.sectionHeader i:hover {
  opacity: 1;
  color: #2dc42f;
}

.icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
  text-align: center;
}

.directoryIcon {
  color: #bfbfbf;
}

.fileIcon {
  color: #8457b3;
  font-size: 12px;
  line-height: 14px;
}

.itemName {
  padding-left: 7px;
}

.item {
  padding: 7px 20px;
  display: flex;
  align-items: center;
}

.item:hover {
  background: #222;
}

li > .list {
  padding-top: 0;
}

li > ul li {
  padding-left: 10px;
}

.addIcon {
  position: absolute;
  right: 5px;
  cursor: pointer;
  opacity: .5;
  transition: opacity .3s, color .3s;
}

.addIcon:hover {
  opacity: 1;
  color: #2dc42f;
}
