.container {
  color: #fff;
}

.container label {
  display: block;
}

.container input {
  margin: 1em 0 1.5em;
  width: 100%;
  display: block;
  border-radius: 3px;
  border: none;
  padding: 1em;
  font-size: 1em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.container input:focus, .container input:active {
  box-shadow: 0 2px 5px 0 rgb(52, 94, 112);
  outline: none;
}

.container button {
  width: 110px;
  margin: 2em auto;
  padding: 10px;
  font-size: 1em;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: rgb(52, 120, 149);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  display: block;
  cursor: pointer;
}

.container button:hover {
  background: rgb(53, 139, 176);
}
