@import "~font-awesome/css/font-awesome.css";
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/pastel-on-dark.css";

::-webkit-scrollbar {
  background-color: #333;
  width: .6em;
  height: .6em;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: #666;
  margin: 1px;
  border-radius: 10px;
}

::-webkit-scrollbar-corner       {
  background: #333;
}

body {
  margin: 0;
}

main {
  position: relative;
  min-height: 100vh;
}

main * {
  -webkit-filter: none;
}

* {
  box-sizing: border-box;
}

main.dashboard {
  font-family: Fira Sans, Helvetica, Helvetica Neue, serif;
  padding: 20px 50px;
}

main.dashboard::before {
  content: '';
  position: fixed;
  background:  url('../resources/c2.jpg') center left no-repeat;
  background-size: cover;
  -webkit-filter: blur(2px) hue-rotate(15deg) grayscale(90%) brightness(10%);
  width: 110vw;
  height: 110vh;
  top: -5vh;
  left: -5vw;
  z-index: -1;
}

main.dashboard .main-container {
  z-index: 1;
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

button, button:focus, button:active {
  outline: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ReactCodeMirror, .CodeMirror {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.cm-s-pastel-on-dark .CodeMirror-gutters {
  background: #1a1a1b;
  border-right: 1px solid #2f2f31;
}

.cm-s-pastel-on-dark.CodeMirror {
  background: #232325;
}
