.container {
  flex: 0 0 250px;
  border-radius: 3px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  transition: opacity .3s;
  opacity: 0.9;
  margin: 0 10px 24px 10px;
  cursor: pointer;
  position: relative;
}

.disabled::after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #58d282;
  animation: blink 1s infinite ease-in-out;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
  margin: auto;
}

.disabled {
  cursor: default;
}

.disabled > * {
  filter: grayscale(100%);
}

.disabled::before {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  border-radius: 3px;
}

.container:not(.disabled):hover {
  opacity: 1;
}

.container:not(.disabled):hover .actions {
  opacity: 1;
}

.container hr {
  border-top: 1px solid #DDD;
  border-bottom: 0;
  margin: 1em 0;
}

.header {
  border-radius: 3px 3px 0 0;
  height: 40px;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.container:hover .icon {
  -webkit-filter: grayscale(0%);
}

.container:hover .cover {
  -webkit-filter: grayscale(0%) blur(0px);
}

.content {
  padding: 10px 10px 15px;
  color: #000;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 3px 3px;
  line-height: 1.5;
}

.content .title {
  margin: .5em;
  display: block;
}

.content .details {
  color: #777;
  margin: 0 .5em;
  font-size: .9em;
}

.actions {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
  transition: opacity .3s;
}

.actionButton {
  border: 0;
  background: none;
  color: rgba(0,0,0, 0.5);
  cursor: pointer;
  display: inline;
  margin-left: 10px;
  transition: color .3s, box-shadow .3s;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 10px;
  box-shadow: 0 0 0 1px #777 inset;
}

.actionButton:hover {
  box-shadow: 0 0 0 2px #161616 inset;
  color: #161616;
}

@keyframes blink {
  0% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
  100% { transform: translateX(5px); }
}
